customer-sys-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="get-customers-sapi-flow" doc:id="b43c1aee-7466-4d48-a4f8-f825704590bc" >
		<logger level="INFO" doc:name="Entering sapi get-customers flow" doc:id="59d0b38a-04d4-4512-b7d0-56e9ee5c82fe" message="Entered GET customers flow"/>
		<db:select doc:name="From DB NW" doc:id="0f68d1be-3e84-413e-9bc4-2a2668d63cac" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT CustomerID, CompanyName, ContactName FROM customers]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message from java to json" doc:id="e912641b-c61a-4ee6-a459-5b43041a0777">
			<ee:message>
				<ee:set-payload resource="sapi-customers-get-java-to-json.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Leaving sapi get-customers flow" doc:id="1a66ee8d-d0b8-4458-836b-60452f90a36b" message="Leaving getCustomers flow"/>

	</flow>
	<flow name="post-customers-sapi-flow" doc:id="ec321116-b95c-4e0e-a5e1-fa46f06fcadc" >
		<logger level="INFO" doc:name="Entering sapi post-customers flow" doc:id="7edecce4-6f36-49c9-be54-2fc228d95501" message="Entering postCustomers flow"/>
		<db:insert doc:name="Into DB NW" doc:id="9488b1a8-2f42-459c-b52d-537e5fc91f06" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO customers
VALUES(:CustomerID, :CompanyName, :ContactName, :ContactTitle, :Address, :City, :Region, :PostalCode, :Country, :Phone, :Fax)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'CustomerID':payload.customerID, 'CompanyName':payload.companyName, 'ContactName':payload.contactName, 'ContactTitle':payload.contactTitle, 'Address':payload.address, 'City':payload.city, 'Region':payload.region, 'PostalCode':payload.postalCode, 'Country':payload.country, 'Phone':payload.phone,  'Fax':payload.fax}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message - customer added" doc:id="4951a414-cee0-4651-90ad-c7edd023ef91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
"message": "Customer added successfully."]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Leaving sapi postCustomers flow" doc:id="24acf4bd-85ec-452d-bbda-db14ae1d96bf" message="Leaving post-customers flow"/>
	</flow>
</mule>
