customer-sys-api/src/main/mule/interface-customer-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="customer-sys-api-2-config" api="customer-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customer-sys-api-2-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-sys-api-2-config" />
    </flow>
    <flow name="customer-sys-api-2-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-sys-api-2-config" />
    </flow>
    <flow name="get:\customers:customer-sys-api-2-config">
        <flow-ref doc:name="Flow Reference" doc:id="2e0435c0-31d7-44f6-91ca-b89cbda3e4ea" name="get-customers-sapi-flow"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    customerID: "PULP",
    companyName: "Iidas juice bar",
    contactName: "Iida Pöntinen"
  }, 
  {
    customerID: "FRESH",
    companyName: "Jungle Juice Bar",
    contactName: "Olly Orange"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\customers\(customerID):customer-sys-api-2-config">
        <flow-ref doc:name="Flow Reference" doc:id="74e81c73-2bd3-4ad8-b6ff-7105ceb346ae" name="get-customers-byID-sapi-flow"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  customerID: "PULP",
  companyName: "Iidas juice bar",
  contactName: "Iida Pöntinen",
  contactTitle: "juicer",
  address: "Eerikinkatu 1 a 5",
  postalcode: "00100",
  country: "Finland",
  phone: "044123123"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\customers:application\json:customer-sys-api-2-config">
        <flow-ref doc:name="Flow Reference" doc:id="23a2fca1-cc59-4164-ad3b-378449f21023" name="post-customers-sapi-flow"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Customer added successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
</mule>
