northwind-customer-exp-api/src/main/mule/impl-inquiries-customer-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="post-inquiries-flow" doc:id="68113a7c-0ed2-49a2-80fa-8ac69ad1bbe9" >
		<logger level="INFO" doc:name="Logger" doc:id="13afacbf-349f-4de8-a9df-662132294224" />
<!-- [STUDIO:"Mock payload"]		<set-payload value='#[{&#10;	"customerID": "ALFKI",&#10;	"productID": 1,&#10;	"quantity": 5&#10;}]' doc:name="Mock payload" doc:id="dd7708cf-df4c-454d-8a98-29e2bf9a6f91" /> [STUDIO] -->
		<http:request method="POST" doc:name="POST to order-pro-api /offers" doc:id="07a64f11-ae32-4791-ad12-544b70dbd7dd" config-ref="HTTP_Request_configuration_order_papi" path="/api/offers" responseTimeout="600000">
			<reconnect/>
		</http:request>
		<ee:transform doc:name="Thank you for your inquiry" doc:id="4d4cc176-b1de-425c-85f7-3881f35aabc0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Thank you for your inquiry. We will get back to you shortly.",
	"offerID": payload.offerID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get-accepted-inquiries-by-customerID" doc:id="04bacf4c-4419-4f1a-ba2e-b14af414ad6d" >
		<logger level="INFO" doc:name="Starting accepted inquiries by customerID" doc:id="25d5f69a-4236-4727-9225-c0959aa3cd4d" />
		<http:request method="GET" doc:name="call pro-api/offers" doc:id="20d0551d-72f8-4d6c-a377-7c1dcd8b8487" config-ref="HTTP_Request_configuration_order_papi" path="/api/inquiries/{customerID}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	customerID : attributes.uriParams.'customerID'
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	status : attributes.queryParams.'status'
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Ending accepted inquiries by customerID" doc:id="623345ab-84df-4946-92d1-c990be8129fb" />
	</flow>
	<flow name="get-proposed-offers-by-customer-ID" doc:id="5b3df564-3b9c-4e26-9524-d162588545ee" >
		<logger level="INFO" doc:name="Start of offers by customerID" doc:id="23bfba05-0cf3-47fe-bd68-6f2f927279e6" />
		<http:request method="GET" doc:name="call-pro-api/offers" doc:id="0b2ab3a7-64e3-4a31-8be3-2bfca4f8ef84" config-ref="HTTP_Request_configuration_order_papi" path="/api/proposedoffers/{customerID}" responseTimeout="300000">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	customerID : attributes.uriParams.'customerID'
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	status : attributes.queryParams.'status'
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="59ea657a-c7ea-48be-b867-fa29e84c377b" />
	</flow>
	<flow name="patch-proposed-offers-by-customerID-by-offerID" doc:id="f6fc96ba-62df-40c4-8500-6240683fff6f" >
		<logger level="INFO" doc:name="Start of offers by offerID" doc:id="b9aaf2df-fec4-494b-9e1e-a9ef7c6b092f" />
		<try doc:name="Try" doc:id="1ccb4e07-5064-4b19-a7fe-cabdb4d0c5bc" >
			<validation:matches-regex doc:name="Matches regex" doc:id="61053086-0f4f-4b49-a02c-9adb9202256a" value="#[payload.paymentTransactionID]" regex="[0-9]*-[A-Z]*-[0-9]*" config-ref="Validation_Config"/>
		</try>
		<http:request method="PATCH" doc:name="call-pro-api/offers" doc:id="f5744727-41f7-4b59-a2c4-80c37ad9f90a" config-ref="HTTP_Request_configuration_order_papi" path="/api/proposedoffers/{customerID}/{offerID}" responseTimeout="300000">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	customerID : attributes.uriParams.'customerID',
	offerID : attributes.uriParams.'offerID'
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="d2d2fad4-73f5-49b3-97dc-7bdd9e457313" />
	</flow>
	<flow name="get-orders-for-customer-by-customerID" doc:id="35f40e5b-a423-4190-8f8a-b68dd7224882" >
		<logger level="INFO" doc:name="Starting get-orders-for-customer-flow" doc:id="a93e3c39-3842-4041-a4a6-bc8eebfd89ab" />
		<http:request method="GET" doc:name="call pro-api/orders" doc:id="2254f3ab-130f-4d16-90d1-39f7db41098a" config-ref="HTTP_Request_configuration_order_papi" path="/api/orders/{customerID}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	customerID : attributes.uriParams.'customerID'
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Ending get-orders-for-customer-flow" doc:id="8eef1821-72ed-4b11-8f4e-7e5a56f24342" />
	</flow>
</mule>
