shipping-sys-api/src/main/mule/impl-shipping-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="impl-shipping-sys-apiFlow" doc:id="693ed158-14ec-4115-8445-acd8573b8b69" >
		<logger level="INFO" doc:name="Logger" doc:id="06f7db86-a447-4038-a178-7254e7520a10" />
<!-- [STUDIO:"temporary payload for testing"]		<set-payload value='#[output application/json&#10;&#45;&#45;-&#10;{&#10;	"offerID": "1",&#10;	"dateApproved": "2022-04-11 00:00:00",&#10;	"shipperID": "1"&#10;}]' doc:name="temporary payload for testing" doc:id="f8cea91b-b014-44dd-a3e5-a258b3cc18f7" /> [STUDIO] -->
		<set-variable value="#[payload.dateApproved]" doc:name="dateApproved" doc:id="4b882926-22c1-4df8-9156-1e7524b40bb1" variableName="dateApproved"/>
		<set-variable value="#[payload.offerID]" doc:name="offerID" doc:id="0c357448-a3b4-43f4-9767-4f0485a1a896" variableName="offerID"/>
		<db:select doc:name="CustomerID and target" doc:id="144be8fe-224a-45ef-ae68-7961334f0241" target="customerID" config-ref="Database_Config" targetValue="#[output application/json&#10;---&#10;payload.CustomerID]">
			<db:sql ><![CDATA[SELECT CustomerID
FROM offers
WHERE OfferID = :OfferID]]></db:sql>
			<db:input-parameters ><![CDATA[#['OfferID': payload.'offerID']]]></db:input-parameters>
		</db:select>
		<db:select doc:name="PostalCode and target" doc:id="81f5c74c-7d38-40dd-8a58-96df444543d8" target="postalCode" config-ref="Database_Config" targetValue="#[output application/json&#10;---&#10;payload.'PostalCode']">
			<db:sql ><![CDATA[SELECT distinct c.PostalCode
FROM customers AS c
INNER JOIN
offers AS o
WHERE c.CustomerID = o.CustomerID AND c.CustomerID = :CustomerID]]></db:sql>
			<db:input-parameters ><![CDATA[#['CustomerID': vars.customerID[0]]]]></db:input-parameters>
		</db:select>
		<db:select doc:name="CategoryName and target" doc:id="c37091d8-6a9c-4197-9f7f-f542c83365bc" config-ref="Database_Config" target="categoryName" targetValue="#[output application/json&#10;---&#10;payload.'CategoryName']">
			<db:sql ><![CDATA[SELECT CategoryName
FROM categories AS c
INNER JOIN 
products AS p
ON c.CategoryID = p.CategoryID
INNER JOIN
offers AS o
ON o.ProductID = p.ProductID 
WHERE OfferID = :OfferID ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'OfferID': vars.'offerID'}]]]></db:input-parameters>
		</db:select>
<set-payload value='#[output application/json&#10;---&#10;{&#10;	"categoryName": vars.categoryName[0],&#10;	"postalCode": vars.postalCode[0],&#10;	"shipperID": payload.shipVia[0] as Number&#10;}]' doc:name="payload to post to ext-ship-api" doc:id="4e13d090-4a9b-4c85-a3cf-5dbc4a8be133" />
		<logger level="INFO" doc:name="Logger" doc:id="12ea56c2-f1f9-4f2f-980f-b180690d1fed" message="#[payload]"/>
				<http:request method="POST" doc:name="POST ext ship api" doc:id="e22ae25c-322f-4f93-9930-a6900ee55487" config-ref="HTTP_Request_configuration_shipping_ext" path="/ship"/>
		<flow-ref doc:name="check-date-flow" doc:id="0a929f1e-1ea5-4693-8360-dff8aff8d249" name="check-date-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="d651321d-5a56-4b6e-852e-3a3ed3a4f8d2" />
	</flow>
	<flow name="check-date-flow" doc:id="67e64a50-d3f8-4445-9d46-01036c60b8d0" >
<!-- [STUDIO:"calculating daysBetween & saving into vars.daysBetween"]		<ee:transform doc:name="calculating daysBetween &amp; saving into vars.daysBetween" doc:id="40d75de8-f088-4770-a0dc-384f84091405" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
&#45;&#45;-
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="daysBetween" ><![CDATA[%dw 2.0
output application/json
import dw::core::Periods
var formattedApprDate = vars.dateApproved as Date
var shipDate = payload.shippingDate as Date 

var timeBetween = Periods::between(shipDate, formattedApprDate)
 
&#45;&#45;-
{
	"days": timeBetween.days as Number
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform> [STUDIO] -->
		<ee:transform doc:name="calculating daysBetween &amp; saving into vars.daysBetween" doc:id="a3ee75f0-a2f8-4c70-b5f9-51734f50d622" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="daysBetween" ><![CDATA[%dw 2.0
output application/json
---
{
	
"days": daysBetween(vars.dateApproved as Date, payload.shippingDate as Date)

}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="1ca5b7dd-0de1-4884-8dfe-df2adf56f9d7" >
			<when expression="#[vars.daysBetween.days &lt;= 15]">
				<ee:transform doc:name="happy path: payload with shipping details" doc:id="e3c45dd6-48b7-4d4e-b538-9dc3ba09a151" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload
]]></ee:set-payload>
					</ee:message>
				</ee:transform>

			</when>
			<otherwise >
				<ee:transform doc:name="shipping not available in 15 days" doc:id="bfdd4715-7e71-4fa6-9dda-286679e6f2a2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Shipping not available with shipperID (shipVia) " ++ payload.shipperID
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			

</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="d5084d5b-9230-4015-8758-be1d23e8c3c5" />
	</flow>
</mule>
