shipping-sys-api/src/main/mule/implementation-shipping-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<<<<<<< HEAD:order-pro-api/src/main/mule/order-pro-api.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="order-pro-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="order-pro-api-config" api="order-pro-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="order-pro-api-main">
        <http:listener config-ref="order-pro-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="order-pro-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="order-pro-api-console">
        <http:listener config-ref="order-pro-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="order-pro-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\proposedoffers\(customerID)\(offerID):application\json:order-pro-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
                <ee:set-variable variableName="offerID">attributes.uriParams.'offerID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\proposedoffers\(customerID)\(offerID):application\json:order-pro-api-config" />
    </flow>
    <flow name="get:\customers:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    customerID: "PULP",
    companyName: "Iidas juice bar",
    contactName: "Iida Pöntinen"
  }, 
  {
    customerID: "FRESH",
    companyName: "Jungle Juice Bar",
    contactName: "Olly Orange"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\offers:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    offerID: 56678,
    Status: "Pending",
    dateCreated: "2022-12-20",
    employeeID: 595959,
    customerID: "SALIS",
    productID: 595957,
    quantity: 1,
    orderID: 565656,
    totalPrice: 1000,
    priceDiscount: 30,
    paymentTransactionID: 989898
  }, 
  {
    offerID: 56678,
    Status: "Pending",
    dateCreated: "2022-12-20",
    employeeID: 595959,
    customerID: "SALIS",
    productID: 595957,
    quantity: 1,
    orderID: 565656,
    totalPrice: 1000,
    priceDiscount: 30,
    paymentTransactionID: 989898
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    orderID: 34567,
    offerID: 12345,
    employeeID: 45454,
    shipperID: 54656,
    customerID: "ALFKI",
    acceptedDate: "2016-02-28",
    shippedDate: "2016-02-28",
    shipVia: 54656
  }, 
  {
    orderID: 75874,
    offerID: 63245,
    employeeID: 68584,
    shipperID: 76889,
    customerID: "FLGKH",
    acceptedDate: "2022-12-21",
    shippedDate: "2023-01-23",
    shipVia: 76889
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\inquiries\(customerID):order-pro-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\inquiries\(customerID):order-pro-api-config" />
    </flow>
    <flow name="get:\customers\(customerID):order-pro-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerID: "PULP",
  companyName: "Iidas juice bar",
  contactName: "Iida Pöntinen",
  contactTitle: "juicer",
  address: "Eerikinkatu 1 a 5",
  postalcode: "00100",
  country: "Finland",
  phone: "044123123"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(orderID):order-pro-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orderID">attributes.uriParams.'orderID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  orderID: 34567,
  offerID: 12345,
  employeeID: 45454,
  shipperID: 54656,
  customerID: "ALFKI",
  acceptedDate: "2022-12-20",
  shippedDate: "2023-01-29",
  shipVia: 54656
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer added successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\inquiries:application\json:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Inquiry placed successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\offers:application\json:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Offer created successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\orders:application\json:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Order created successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\shippingdetails:application\json:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Shipping details posted successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
=======

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
>>>>>>> 99f9cb3cf1f5e7466aee70da55b675fe5384354c:shipping-sys-api/src/main/mule/implementation-shipping-sys-api.xml
</mule>
