order-pro-api/src/main/mule/interface-order-pro-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="order-pro-api-config" api="order-pro-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="order-pro-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="order-pro-api-config" />
    </flow>
    <flow name="order-pro-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="order-pro-api-config" />
		<error-handler />
    </flow>
    <flow name="patch:\proposedoffers\(customerID)\(offerID):application\json:order-pro-api-config">
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
                <ee:set-variable variableName="offerID">attributes.uriParams.'offerID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="Flow Reference" doc:id="0f8f967e-6509-4de9-8006-ee5b866bdb7f" name="orders-pro-by-customerID-offerID-PATCH" />
    </flow>
    <flow name="get:\customers:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    customerID: "PULP",
    companyName: "Iidas juice bar",
    contactName: "Iida Pöntinen"
  }, 
  {
    customerID: "FRESH",
    companyName: "Jungle Juice Bar",
    contactName: "Olly Orange"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\offers:order-pro-api-config">
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    offerID: 56678,
    Status: "Pending",
    dateCreated: "2022-12-20",
    employeeID: 595959,
    customerID: "SALIS",
    productID: 595957,
    quantity: 1,
    orderID: 565656,
    totalPrice: 1000,
    priceDiscount: 30,
    paymentTransactionID: 989898
  }, 
  {
    offerID: 56678,
    Status: "Pending",
    dateCreated: "2022-12-20",
    employeeID: 595959,
    customerID: "SALIS",
    productID: 595957,
    quantity: 1,
    orderID: 565656,
    totalPrice: 1000,
    priceDiscount: 30,
    paymentTransactionID: 989898
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="Flow Reference" doc:id="851664e5-804f-43f0-bedf-de04e6928a75" name="implement-orders-pro-offers-GET" />
    </flow>
    <flow name="get:\orders:order-pro-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="04512d83-ef8b-458f-97f5-728ddc4294b3" name="get-orders-flow" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    orderID: 34567,
    offerID: 12345,
    employeeID: 45454,
    shipperID: 54656,
    customerID: "ALFKI",
    acceptedDate: "2016-02-28",
    shippedDate: "2016-02-28",
    shipVia: 54656
  }, 
  {
    orderID: 75874,
    offerID: 63245,
    employeeID: 68584,
    shipperID: 76889,
    customerID: "FLGKH",
    acceptedDate: "2022-12-21",
    shippedDate: "2023-01-23",
    shipVia: 76889
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\inquiries\(customerID):order-pro-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="aeeccf92-18cc-46fe-b3c1-2131156c9d01" name="impl-orders-pro-accepted-inquiries-by-customerID-GET" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
        <!-- [STUDIO:"Logger"]        <logger level="INFO" message="get:\inquiries\(customerID):order-pro-api-config" /> [STUDIO] -->
    </flow>
    <flow name="get:\customers\(customerID):order-pro-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerID: "PULP",
  companyName: "Iidas juice bar",
  contactName: "Iida Pöntinen",
  contactTitle: "juicer",
  address: "Eerikinkatu 1 a 5",
  postalcode: "00100",
  country: "Finland",
  phone: "044123123"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(orderID):order-pro-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="3c7c6065-e7a2-44c7-8deb-b5f045800d2e" name="get-orders-by-ID-flow" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orderID">attributes.uriParams.'orderID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  orderID: 34567,
  offerID: 12345,
  employeeID: 45454,
  shipperID: 54656,
  customerID: "ALFKI",
  acceptedDate: "2022-12-20",
  shippedDate: "2023-01-29",
  shipVia: 54656
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\customers:application\json:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer added successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\inquiries:application\json:order-pro-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Inquiry placed successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\offers:application\json:order-pro-api-config">
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Offer created successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="Flow Reference" doc:id="e233c4fd-df33-4edb-ad8b-a509c96481ab" name="implement-orders-pro-offers-POST" />
    </flow>
    <flow name="post:\orders:application\json:order-pro-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="c51188ec-fe85-483a-a2ca-f30ab3719767" name="post-orders-flow" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Order created successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\shippingdetails:application\json:order-pro-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a3386947-b728-4dbd-b37b-6762965d6d16" name="shippingdetails-post" />
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Shipping details posted successfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="patch:\offers:application\json:order-pro-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="67cb06b2-ce92-452a-9c6d-a7a463261990" name="implement-orders-pro-offers-PATCH" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Offer updated succesfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\products:order-pro-api-config">
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
16]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="Flow Reference" doc:id="43c2230d-8c72-4b28-acd8-ab0f0f2d78ae" name="GET-products" />
    </flow>
    <flow name="get:\proposedoffers\(customerID):order-pro-api-config">
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    offerID: 56678,
    Status: "Pending",
    dateCreated: "2022-12-20",
    employeeID: 595959,
    customerID: "SALIS",
    productID: 595957,
    quantity: 1,
    orderID: 565656,
    totalPrice: 1000,
    priceDiscount: 30,
    paymentTransactionID: 989898
  }, 
  {
    offerID: 56678,
    Status: "Pending",
    dateCreated: "2022-12-20",
    employeeID: 595959,
    customerID: "SALIS",
    productID: 595957,
    quantity: 1,
    orderID: 565656,
    totalPrice: 1000,
    priceDiscount: 30,
    paymentTransactionID: 989898
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="Flow Reference" doc:id="4056717a-72e1-4dc1-968f-b491d3b67e9b" name="implement-orders-pro-offers-by-customerID-GET" />
    </flow>
    <flow name="get:\orders\(customerID):order-pro-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="ea3d362b-5d83-44d4-b4b0-e9551aa45e9e" name="get-orders-for-customer-by-customerID-flow" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    orderID: 34567,
    offerID: 12345,
    employeeID: 45454,
    shipperID: 54656,
    customerID: "ALFKI",
    acceptedDate: "2016-02-28",
    shippedDate: "2016-02-28",
    shipVia: 54656
  }, 
  {
    orderID: 75874,
    offerID: 63245,
    employeeID: 68584,
    shipperID: 76889,
    customerID: "FLGKH",
    acceptedDate: "2022-12-21",
    shippedDate: "2023-01-23",
    shipVia: 76889
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
</mule>
