offer-sys-api/src/main/mule/implementation-offer-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-all-offers-list" doc:id="79ef714a-80c9-4bd6-9c26-ffbee3d16a92" >
		<logger level="INFO" doc:name="Logger" doc:id="b64c97d8-38b8-4523-bc86-cef954a8512d" />
		<db:select doc:name="Get list of created offers" doc:id="9576a68d-e888-4cab-a542-5b844bf930ff" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM offers]]></db:sql>
		</db:select>
		<ee:transform doc:name="Java to json" doc:id="3a918fc2-d053-4159-91d4-42c216b96fa1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) ->
{
	offerID: payload01.offerID,
	offerStatus: payload01.offerStatus default "",
	dateCreated: payload01.dateCreated as String default "",
	employeeID: payload01.employeeID,
	customerID: payload01.customerID,
	productID: payload01.productID,
	quantity: payload01.quantity default 0,
	orderID: payload01.orderID,
	totalPrice: payload01.totalPrice default 0,
	priceDiscount: payload01.priceDiscount default 0,
	paymentTransactionID: payload01.paymentTransactionID default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ac1ac888-cbb7-4da9-8ac6-9a928dcabcdc" />
	</flow>
	<flow name="post-new-offer" doc:id="e06d4da8-3601-469c-ac75-23c48da89c1d" >
		<logger level="INFO" doc:name="Logger" doc:id="6ad5932f-1e4f-468d-907c-c2517627de14" />
<!-- [STUDIO:"Insert new offer to DB"]		<db:insert doc:name="Insert new offer to DB" doc:id="9c02643e-9275-4a71-9609-4b4fe6b8f0c7" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO OFFERS (OfferStatus,DateCreated,EmployeeID,CustomerID,ProductID,Quantity,OrderID,TotalPrice,PriceDiscount,PaymentTransactionID)
VALUES (:OfferStatus,:DateCreated,:EmployeeID,:CustomerID,:ProductID,:Quantity,:OrderID,:TotalPrice,:PriceDiscount,:PaymentTransactionID)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
  "OfferStatus": payload.offerStatus,
  "DateCreated": payload.dateCreated,
  "EmployeeID": payload.employeeID,
  "CustomerID": payload.customerID,
  "ProductID": payload.productID,
  "Quantity": payload.quantity,
  "OrderID": payload.orderID,
  "TotalPrice": payload.totalPrice,
  "PriceDiscount": payload.priceDiscount,
  "PaymentTransactionID": payload.paymentTransactionID
  }]]]></db:input-parameters>
		</db:insert> [STUDIO] -->
		<db:insert doc:name="Insert new offer to DB" doc:id="41a01a56-ed6c-4fcb-a25f-0f060be6ebd7" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO offers (CustomerID, ProductID, Quantity, OfferStatus)
VALUES (:CustomerID, :ProductID,:Quantity, :OfferStatus)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'CustomerID': payload.customerID, 'ProductID': payload.productID, 'Quantity': payload.quantity, 'OfferStatus': payload.status}]]]></db:input-parameters>
			<db:auto-generated-keys-column-names />
		</db:insert>
		<ee:transform doc:name="Return message" doc:id="86309fb8-82bd-4440-b8aa-08a889d85f50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Offer created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a87966f3-ea97-431e-a790-409eefdde836" />
	</flow>
	<flow name="patch-offer-flow" doc:id="f57456db-10de-4291-915b-905411bcb103" >
		<logger level="INFO" doc:name="Logger" doc:id="7bc746b7-57c0-47be-b08b-33075802f038" />
<!-- [STUDIO:"Mock payload"]		<set-payload value='#[{&#10;	"offerID": 1,&#10;	"employeeID": 1,&#10;	"priceDiscount": 20,&#10;	"totalPrice": 134,&#10;	"dateCreated": "2022-01-01" as Date { format: "yyyy-MM-dd"},&#10;	"status": "accepted"&#10;}]' doc:name="Mock payload" doc:id="ac5a25d1-4a00-45c3-8566-f21c09b58731" /> [STUDIO] -->
		<db:update doc:name="Update offer record " doc:id="58256a2b-5c40-4622-ae3f-e6d9df654335" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE offers
SET PriceDiscount = :priceDiscount, TotalPrice = :totalPrice, DateCreated = :dateCreated, OfferStatus = :status
WHERE OfferID = :offerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"priceDiscount": payload.priceDiscount,
	"totalPrice": payload.totalPrice,
	"dateCreated": payload.dateCreated,
	"offerID": payload.offerID,
	"status": payload.status
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Offer created successfully" doc:id="b5db0924-4d42-476f-bc33-15f4d48255cd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Offer updated successfully."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="75dc7083-59d1-4ebe-9f35-89bed09215cd" />
	</flow>
</mule>
