offer-sys-api/src/main/mule/interface-offer-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="offer-sys-api-config" api="offer-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="offer-sys-api-main">
        <http:listener doc:name="Listener" doc:id="813c909f-b164-40dd-8a26-ac4de9896e00" path="/api/*" config-ref="HTTP_Listener_config1" />
        <apikit:router config-ref="offer-sys-api-config" />
    </flow>
    <flow name="offer-sys-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config1">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="offer-sys-api-config" />
    </flow>
    <flow name="get:\offers:offer-sys-api-config">
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  "offer-examples": [
    {
      offerID: 56678,
      Status: "Pending",
      dateCreated: "2022-12-20",
      employeeID: 595959,
      customerID: "SALIS",
      productID: 595957,
      quantity: 1,
      orderID: 565656,
      totalPrice: 1000,
      priceDiscount: 30,
      paymentTransactionID: 989898
    }, 
    {
      offerID: 56678,
      Status: "Pending",
      dateCreated: "2022-12-20",
      employeeID: 595959,
      customerID: "SALIS",
      productID: 595957,
      quantity: 1,
      orderID: 565656,
      totalPrice: 1000,
      priceDiscount: 30,
      paymentTransactionID: 989898
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="Flow Reference" doc:id="4b164179-6d5c-4232-a4b2-8fc93d37530c" name="get-all-offers-list" />
    </flow>
    <flow name="post:\offers:application\json:offer-sys-api-config">
        <!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Offer is created succesfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
        <flow-ref doc:name="Flow Reference" doc:id="183204bc-8f09-456e-8d4f-337e1711d824" name="post-new-offer" />
    </flow>
    <flow name="patch:\offers:application\json:offer-sys-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="1c1556cf-08ec-4ac8-b329-80f0f375d0e9" name="patch-offer-flow" />
        <!-- [STUDIO:"Transform Message"]		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Offer updated succesfully."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\offers\(customerID):offer-sys-api-config">
<flow-ref doc:name="Flow Reference" doc:id="0f986edc-1698-4f85-90bc-c5eb28d1e04b" name="get-offer-by-customer-ID-sys-api-flow"/>
<!-- [STUDIO:"Transform Message"]		        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.'customerID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  "offer-example": {
    offerID: 56678,
    Status: "Pending",
    dateCreated: "2022-12-20",
    employeeID: 595959,
    customerID: "SALIS",
    productID: 595957,
    quantity: 1,
    orderID: 565656,
    totalPrice: 1000,
    priceDiscount: 30,
    paymentTransactionID: 989898
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
</mule>