offer-sys-api/src/main/mule/offer-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6bc12818-b787-41e7-9494-ce556e697fd4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="offer-sys-apiFlow" doc:id="880aacbf-ee33-4af1-9342-8cfffc428914" >
		<http:listener doc:name="Listener" doc:id="00a73dc0-d646-4bb5-9e61-834e1d602eac" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#[output text/plain --- "Hello world!"]' doc:name="Set Payload" doc:id="122cb53a-84a8-4fbe-a4e4-1c3d15a38824" />
	</flow>
</mule>
