order-sys-api/src/main/mule/implementation-order-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-orders-flow" doc:id="5d31c2e9-c6ba-4d15-bb98-7a9b8b03a7f6" >
		<logger level="INFO" doc:name="Entering get-orders-flow" doc:id="02188188-e165-4cd3-86a8-e4429455df5c" />
		<db:select doc:name="orders from Northwind" doc:id="17408d2d-4bc5-48ca-931f-e8ef66c419f4" config-ref="Northwind_database_Config">
			<db:sql ><![CDATA[SELECT orders.*, offers.OfferID, offers.DateApproved
FROM orders, offers
WHERE orders.OrderID = offers.OrderID
]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message from db-java -&gt; json" doc:id="bfe16ce4-5b35-4ec0-838b-691885673470" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	orderID: payload01.OrderID,
	offerID: payload01.OfferID,
	employeeID: payload01.EmployeeID default 0,
	customerID: payload01.CustomerID default "",
	acceptedDate: payload01.DateApproved as String default "",
	shippedDate: payload01.ShippedDate as String default "",
	shipVia: payload01.ShipVia default 0
} ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exiting get-orders-flow" doc:id="5298d38b-ac39-4ddf-bb11-521c0c5d478f"/>
	</flow>
	<flow name="get-order-by-ID-flow" doc:id="d7a6f37e-1e46-465d-92e0-5fbf288e8879" >
		<logger level="INFO" doc:name="Entering get-order-by-ID-flow" doc:id="0e8175b5-c059-4241-bc82-2a174004710a" />
		<db:select doc:name="order by ID from Northwind" doc:id="8fbfd2b6-6e2f-43e4-a0ba-b39c62636bb4" config-ref="Northwind_database_Config">
			<db:sql ><![CDATA[SELECT orders.OrderID, orders.CustomerID, orders.EmployeeID, orders.ShippedDate, 
orders.ShipVia, offers.OfferID, offers.DateApproved
FROM orders, offers
WHERE orders.OrderID = offers.OrderID AND orders.OrderID = :orderID]]></db:sql>
			<db:input-parameters ><![CDATA[#['OrderID': attributes.uriParams.'orderID']]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="from db-java -&gt; json" doc:id="e4a07279-e56a-4d3b-b5e5-206bd862d25f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	orderID: payload01.OrderID,
	offerID: payload01.OfferID,
	employeeID: payload01.EmployeeID default 0,
	customerID: payload01.CustomerID default "",
	acceptedDate: payload01.DateApproved as String default "",
	shippedDate: payload01.ShippedDate as String default "",
	shipVia: payload01.ShipVia default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exiting get-order-by-ID-flow" doc:id="83740679-406e-45e3-851f-f7d2dcfd5bb5" />
	</flow>
	<flow name="post-order-to-db-flow" doc:id="56a72d94-d323-45d3-8600-e6bf9a63b9a0" >
		<logger level="INFO" doc:name="Entering post-order-flow" doc:id="cf3ee5e3-88a6-4aff-b6b2-1e13d4f25fae" />
		<set-variable value="#[payload.customerID]" doc:name="Set customerID" doc:id="38b46cd8-1490-419c-918c-a53f056670ca" variableName="customerID"/>
		<db:select doc:name="Select Shipping Address from customers" doc:id="1737536d-06fc-4ec7-82dd-885ac3f3be2d" config-ref="Northwind_database_Config" target="shippingAddress" targetValue="#[payload.Address]">
			<db:sql ><![CDATA[SELECT Address from customers
WHERE CustomerID = :customerID]]></db:sql>
			<db:parameter-types />
			<db:input-parameters ><![CDATA[#[{
	customerID: vars.customerID
}]]]></db:input-parameters>
		</db:select>
		<db:insert doc:name="Insert a post into db" doc:id="c144338a-5ecf-463b-8251-eaadbe2a15fd" config-ref="Northwind_database_Config">
			<db:sql ><![CDATA[INSERT INTO Orders (CustomerID, EmployeeID, OrderDate, ShippedDate, ShipVia, ShipAddress)
VALUES (:CustomerID, :EmployeeID, :OrderDate, :ShippedDate, :ShipVia, :ShipAddress)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	CustomerID: payload.customerID,
	OfferID: payload.offerID,
	EmployeeID: payload.employeeID,
	OrderDate: payload.acceptedDate,
	ShippedDate: payload.shippedDate,
	ShipVia: payload.shipVia,
	ShipAddress: vars.shippingAddress[0]
}]]]></db:input-parameters>
		</db:insert>
		<db:select doc:name="Select OrderID" doc:id="6b2f40c4-5d99-4240-9f70-1dfb439f0a58" config-ref="Northwind_database_Config">
			<db:sql ><![CDATA[SELECT OrderID FROM orders
WHERE CustomerID = :customerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	customerID: vars.customerID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="99ad2be1-a853-4f5e-ade8-b610f5924992" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ "OrderID's with the customerID": payload.'OrderID' }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exiting post-order-to-db-flow" doc:id="0c5824f1-e7dd-4f23-8b93-b8242cfb3c39" />
	</flow>
</mule>
